@import url(https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap);

html {
  overflow-x: hidden
}

html::-webkit-scrollbar {
  display: none
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none
}

body {
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #5e6a71;
  font-weight: 400;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  font-family: Exo, sans-serif;
  font-weight: 700;
  color: #222
}

.h1,
h1 {
  font-size: 2.5rem
}

.h2,
h2 {
  font-size: 44px
}

.h3,
h3 {
  font-size: 1.5rem
}

p {
  line-height: 30px
}

input[type=email],
input[type=password],
input[type=tel],
input[type=text] {
  box-shadow: none;
  height: 45px;
  outline: 0
}

input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus {
  box-shadow: none;
  border: 3px solid #eee;
  outline: 0;
  transition: .1s
}

.form-control {
  box-shadow: none;
  border-radius: 0
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #223a66
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-size: .8125rem;
  font-weight: 700;
  letter-spacing: .5px;
  padding: .75rem 2rem;
  font-family: Exo, sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all .35s ease
}

.btn.btn-icon i {
  border-left: 1px solid rgba(255, 255, 255, .09);
  padding-left: 15px
}

.btn:focus {
  outline: 0;
  box-shadow: none
}

.btn-main {
  background: #5e6a71;
  color: #fff;
  border-color: #5e6a71;
  box-shadow: 0 4px 7px -1px rgba(0, 0, 0, .11), 0 2px 4px -1px rgba(0, 0, 0, .07)
}

.btn-main:hover {
  background: #7e878d;
  border-color: #7e878d;
  color: #fff;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .09), 0 2px 3px -1px rgba(0, 0, 0, .07);
  transform: scale(1.04)
}

.btn-main-2 {
  background: #e12454;
  color: #fff;
  border-color: #e12454
}

.btn-main-2:hover {
  background: #223a66;
  color: #fff;
  border-color: #223a66
}

.btn-white {
  background: #fff;
  border-color: #fff;
  color: #222
}

.btn-white:hover {
  background: #223a66;
  color: #fff;
  border-color: #223a66
}

.btn-round {
  border-radius: 4px
}

.btn:active:focus,
.btn:focus {
  outline: 0
}

.section {
  padding: 100px 0
}

.section-sm {
  padding: 70px 0
}

.text-sm {
  font-size: 14px
}

.text-md {
  font-size: 2.25rem
}

a {
  color: #222;
  text-decoration: none;
  transition: all .35s ease
}

a:focus,
a:hover {
  color: #7e878d;
  text-decoration: none
}

a:focus {
  outline: 0
}

.page-title {
  padding: 120px 0 70px 0;
  position: relative
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }

  to {
    background-position: 0 0
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }

  to {
    background-position: 0 0
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }

  to {
    background-position: 0 0
  }
}

.progress {
  height: 45px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  line-height: 34px;
  color: #fff;
  text-align: center;
  transition: width .5s linear;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
  font-size: .8125rem;
  font-weight: 700;
  font-family: Exo, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px
}

.progress-bar-danger {
  background-color: #d9534f
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-bar-success {
  background-color: #5cb85c;
}

.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65
}

.nopadding {
  padding: 0 !important
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0
}

.input-group .form-control:focus {
  z-index: 3
}

.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px
}

.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px
}

.input-group-addon input[type=checkbox],
.input-group-addon input[type=radio] {
  margin-top: 0
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.input-group-addon:first-child {
  border-right: 0
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.input-group-addon:last-child {
  border-left: 0
}

.masthead {
  height: 100vh;
  min-height: 800px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.h-100 {
  height: 100% !important
}

.border-right {
  border-right: 1px solid #ccc !important
}

.border-radius-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  -ms-transition: background-color .2s linear;
  transition: background-color .2s linear;
  font-size: .8125rem;
  font-weight: 700;
  font-family: Exo, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px
}

.confirm-message {
  margin: 0;
  padding: 0
}

.score {
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  font-weight: 700
}

input[type=password]::-ms-clear,
input[type=password]::-ms-reveal {
  display: none
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  visibility: hidden
}

.danger {
  color: #fff;
  background-color: #d9534f;
  padding: 15px;
  border-radius: 4px
}

.text-bold {
  font-weight: 700
}

.modal.fade .modal-dialog {
  transition: none;
  transform: none;
}